<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>更多</title>
		<!--css-->
		<link rel="stylesheet" type="text/css" href="css/navx.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<!--jq,bs,vue-->
		<script src="js/jquery.slim.min.js"></script>
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/vue.min.js"></script>
		<!--my-jses-->
		<script src="js/href.js"></script>
		<script src="js/lang.js"></script>
		<script src="js/gets.js"></script>
		<script src="js/news.js"></script>
		<style type="text/css">
			#moreNewsList li:hover>h3{
				font-size: 1rem;
				color: #005cbf;
			}#moreNewsList li:hover>p{
				font-size: 1.5rem !important;
			}
		</style>
	</head>
	<body>
		<div id="nav" class="container-fluid pt-3 pb-4 bg-header"><div class="container bg-white"><my-nav v-bind="currentLang.tag"></my-nav></div></div>
		<script src="js/elms.js"></script>
		<!---->
		<div class="container mt-2">
			<ul id="moreNewsList"> <!--news list contain>
				<!--li class="mb-2"><!--news contain>
					<h3>title</h3>
					<p>the text inside ,is long long long and longger text so i write this for no reson and make then click .</p>
					<small class="px-2 py-1 ml-2 bg-light ">its the comment</small>
				</li> 
				<li class="mb-2" >
					<h3>more things</h3>
					<p>if u click me then the browser will open a new page for this news</p>
					<small class="pl-2 pr-2 pt-1 pb-1 pt-1 ml-2 bg-light">but u cant , havent done yet .</small>
				</li>
				<!--vue Time-->
				<li 
					class="m-1"
					v-for="(i,index) in news" 
					:id="'page'+i.id" 
					:href="'page.html?id='+i.id"
					v-if="index>=4">
	
					<h3>{{i.title}}</h3>
					<p>{{i.desription}}</p>
				</li>
			</ul>
		</div>
		
		<script type="text/javascript">
			new Vue({
				el:"#moreNewsList",
				data:dataFrom
			})
		</script>
		<script type="text/javascript">
			setHref("li");
		</script>
	</body>
</html>
